@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

body{
    background-color: var(--Off-white);
    font-family: 'Inter', sans-serif;  
    padding: 30px 70px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-righ ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100px;
}

.nav-righ ul li a {
    text-decoration: none;
    color: var(--Very-dark-blue);
    padding-left: 39px;
}

.nav-righ ul li a:hover {
   color: var(--Soft-red);
}

/* --------------------------------------------------- */

.first-section {
    display: flex;
    justify-content: space-between;
}

.new-principal {
    width: 1500px;
    margin-right: 20px;
}

.new-principal .img-container img {
    width: 100%;
}

.new-principal .text-container {
    display: flex;
    justify-content: space-between;
}

.new-principal .text-container .title-container{
    color: var(--Very-dark-blue);
    font-size: 35px;
    font-weight: 800;
    margin-top: 10px;
    margin-right: 40px;
}

.new-principal .text-container .p-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
}

.new-principal .text-container .p-container p {
    line-height : 25px;
    text-align: justify;
    /* word-spacing: -2px; */
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}

.first-section .text-container .p-container button {
    width: 200px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    background-color: var(--Soft-red);
    color: var(--Off-white);
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    
}

.first-section .text-container .p-container button:hover {
    background-color: var(--Very-dark-blue);
}

.news-container {
    padding: 12px;
    background-color: var(--Very-dark-blue);
}

.news-container h1 {
    color: var(--Soft-orange);
    font-size: 40px;
    font-weight: 800;
    margin: 10px;
}

.news-container h2 {
    color: var(--Off-white);
    margin: 10px;
    padding-top: 30px;
    font-weight: 700;
    font-size: 20px;
}

.news-container p {
    color: var(--Dark-grayish-blue);
    margin: 10px;
    padding: 0 0 20px 0;
}

.news-container hr {
    color: var(--Dark-grayish-blue);
}

.news-container h2:hover {
    color: var(--Soft-orange);
    cursor: pointer;
}

.second-section {
    display: flex;
    
}

.card-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.card-container .img-container img {
    width: 100%;
}

.card-container .text-container {
    margin: 0 20px 0 20px;
}

.card-container .text-container h1 {
    color: var(--Grayish-blue);
    font-size: 30px;
    margin-bottom: 10px;

}

.card-container .text-container h2 {
    color: var(--Very-dark-blue);
    font-size: 17px;
    margin-bottom: 10px;
}

.card-container .text-container h2:hover {
    cursor: pointer;
    color: var(--Soft-red);
}

.card-container .text-container p {
    color: var(--Dark-grayish-blue);
    font-size: 15px;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }